<h1>Update your profile</h1>
<%= @user.id %>
<%= form_for @profile do |form| %>
  <%= hidden_field_tag :user_id, @user.id %>
  <%= label_tag "Image" %>
  <%= file_field_tag :avatar %>
  <%= label_tag "Summary" %>
  <%= text_field_tag :summary %>
  <%= form.submit "Update profile" %>
<% end %>

<p><%= flash[:alert] %></p>
