<h1>hello world</h1>

<%= form_for @profile do |form| %>
<%= form.hidden_field :user_id, :value => @user.id %>
<%= form.label :avatar %>
<%= form.file_field :avatar, accept: 'image/png,image/jpeg'%>
<%= form.label :summary%>
<%= form.text_area :summary %>
<%= form.submit "Post Image" %>
<% end %>

<p><%= flash[:alert] %></p>
