<h1>hello world</h1>

<%= form_for @profile do |form| %>
  <%= hidden_field_tag :user_id, @user.id %>
  <%= label_tag "Image" %>
  <%= file_field_tag :avatar %>
  <%= label_tag "Summary" %>
  <%= text_field_tag :summary %>
  <%= form.submit "Update" %>
<% end %>
