<h1>hello world</h1>

<%= form_for @profile do |f| %>
  <%= hidden_field_tag :user_id, @user.id %>
  <%= f.label :summary %>
  <%= f.text_field :summary %></br>
  <%= f.label :image %>
  <%= f.file_field :image %></br>
  <%= f.submit "Update Profile" %>
<% end %>
